<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${computer.name} == null ? 'Добавить компьютер' : 'Редактировать компьютер'"></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1 th:text="${computer.name} == null ? 'Добавить компьютер' : 'Редактировать компьютер'"></h1>
    <form th:action="@{${computer.name} == null ? '/computers' : '/computers/' + ${computer.name}}" method="post">
        <div class="form-group">
            <label for="name">Название:</label>
            <input type="text" id="name" name="name" th:value="${computer.name}" class="form-control" required />
        </div>
        <div class="form-group">
            <label for="processor">Процессор:</label>
            <select id="processor" name="processor" class="form-control" required>
                <option th:each="processor : ${processors}" th:value="${processor.name}" th:text="${processor.name}"></option>
            </select>
        </div>
        <div class="form-group">
            <label for="motherboard">Материнская плата:</label>
            <select id="motherboard" name="motherboard" class="form-control" required>
                <option th:each="motherboard : ${motherboards}" th:value="${motherboard.name}" th:text="${motherboard.name}"></option>
            </select>
        </div>
        <div class="form-group">
            <label for="ram">Оперативная память:</label>
            <select id="ram" name="ram" class="form-control" required>
                <option th:each="ram : ${rams}" th:value="${ram.name}" th:text="${ram.name}"></option> <!-- Используйте name для значения -->
            </select>
        </div>
        <div class="form-group">
            <label for="gpu">Видеокарта:</label>
            <select id="gpu" name="gpu" class="form-control" required>
                <option th:each="gpu : ${gpus}" th:value="${gpu.name}" th:text="${gpu.name}"></option>
            </select>
        </div>
        <div class="form-group">
            <label for="storageDevice">Накопитель:</label>
            <select id="storageDevice" name="storageDevice" class="form-control" required>
                <option th:each="storageDevice : ${storageDevices}" th:value="${storageDevice.name}" th:text="${storageDevice.name}"></option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Сохранить</button>
        <a href="/computers" class="btn btn-secondary">Отмена</a>
    </form>
</div>
</body>
</html>
